*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  color-scheme: light dark;
  background: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 20px, 20px;
  
}
body {
  color: #bca8a8;
  /* width: min(100ch, 100% - 4rem); */
  margin: 0;
  margin-inline: auto;
  font-family: system-ui;
  font-style: normal;
  font-weight: 400;
  font-size: 1.125;
  line-height: 1.5;
  letter-spacing: 0;
  padding: 1rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: “liga” on;
}

.body--travelers{
  color: #bca8a8;
  width: 100%;
  margin: 0;
  margin-inline: auto;
  font-family: system-ui;
  font-style: normal;
  font-weight: 400;
  font-size: 1.125;
  line-height: 1.5;
  letter-spacing: 0;
  padding: 1rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: “liga” on;
}

.navBar{
  display: flex;
  justify-content: space-between;
}

.magic-body{
  min-height: 100vh;
  display: grid;
  place-content: center;
}

.magic-card::before,
.magic-card::after {
  content: "";
  position: absolute;
  inset: -.5rem;
  z-index: -1;
  background: conic-gradient(
    from var(--gradient-angle),
    var(--clr-3),
    var(--clr-4),
    var(--clr-5),
    var(--clr-4),
    var(--clr-3));
  border-radius: inherit;
  animation: rotation 20s linear infinite;
}

.magic-card::after {
  filter:blur(3.5rem)
}

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes rotation {
  0% { --gradient-angle: 0deg; }
  100% { --gradient-angle: 360deg: }
}
:root {
  --clr-1: #144b52;
  --clr-2: #19def0;
  --clr-3: #3ed9e7;
  --clr-4: #247ab8;
  --clr-5: #112c90;
}

.magic-card{
  aspect-ratio: 1 / 1.5;
  background: var(--clr-1);
  border-radius: 0.5rem;
  position: relative;
  width: 40vh;


}

.contact-form{
  display: grid;
  gap: 1.25rem;
}

.form-group{
  display: grid;
}

#main-header{
  display: block;
  margin-left: auto;
  margin-right: auto;
  opacity: 80%;
  float: top;
  height: 300px;
  width: 500px;
}

.main-layout1{
min-height: 100vh;
min-height: 100dvh;
display: grid;
grid-template-rows: 
  auto 
  1fr 
  auto;
border: 3px solid rgb(165, 165, 225);
background: url(assets/Sacred-Seals.jpg);
background-position: center;
background-size: 70%;
background-repeat: no-repeat;
background-attachment: fixed;
}

.main-layout2{
  min-height: 100vh;
  min-height: 100dvh;
  display: grid;
  grid-template-rows: 
    auto 
    1fr 
    auto;
  border: 3px solid rgb(165, 165, 225);
  background: url(assets/octopath-one-group.jpg);
  background-position: center;
  background-size: 70%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.main-layout3 {  
  min-height: 100vh;
  min-height: 100dvh;
  display: grid;
  grid-template-rows: 
    auto 
    1fr 
    auto;
  border: 3px solid rgb(165, 165, 225);
  background: url(assets/octopath-two-group.jpg);
  background-position: center;
  background-size: 90%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.centered {
  text-align: center;
}

.originLand {
  text-align: center;
}

.video-layout {
  display: inline-flex;
}

.search {
  width: 50%;
  text-align: center;
  position: relative;
  display: block;
  margin: auto;
  padding: 2rem;
}
.searchTerm {
  text-align: center;
  width: 100%;
  border: 3px solid rgb(165, 165, 225);
  padding: 5px;
  height: 3rem;
  border-radius: 5px;
  outline: none;
  font-size: 1.5rem;
}
img {
  height: 300px;
  width: 300px;
  max-width: 100%;
  display: block;
}

video {
  max-width: 100%;
  display: block;
}

.btn {
  background-color: white;
  color: #696969;
}
.btn--block {
  display: block;
  width: 100%;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.cards__item {
  display: flexbox;
  padding: 2rem;
  width: 25%;
}
.card {
  box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}
.card__image {
  background-color: #000;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: contrast(70%);
  overflow: hidden;
  position: relative;
  transition: filter 0.5s cubic-bezier(.43,.41,.22,.91);
}
.card__image:hover{
  filter: contrast(100%);
}
.card__title {
  color: #f2ebeb;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.card__text, .card__detail p {
  flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}
.card__detail {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.card__detail p {
  text-align: center;
}
.card__detail button{
  text-align: center;
}
@media(max-width: 700px){
  .cards__item{
    width: 50%;
  }
}